global !p

import vim

endglobal

priority -999

snippet ôft "设置文件类型 Set File Type" Ai
ôft=${1:markdown}
endsnippet

snippet "ôft=(\w*)" "设置文件类型 Set File Type" ir
`!p
vim.command("set filetype=" + match.group(1))
`
endsnippet
