global !p

from markdown_scopes import math

endglobal

################################################################
#                                                              #
#                     Layout - Annotation                      #
#                                                              #
################################################################

