global !p

from mdtex.scopes import text

endglobal

context "text()"
snippet OO "大 O 符号 Big O Notation" w
\$O(${1|n,1,n^2,\log(n),n\log(n)|})\$ 
endsnippet

context "text()"
snippet OM "大 Omega 符号 Big Omega Notation" w
\$\Omega(${1|n,1,n^2,\log(n),n\log(n)|})\$ 
endsnippet

context "text()"
snippet TT "大 Theta 符号 Big Theta Notation" w
\$\Theta(${1|n,1,n^2,\log(n),n\log(n)|})\$ 
endsnippet
