global !p

from mdtex.scopes import math

endglobal

context "math()"
snippet pr "概率 Probability" w
\Pr
endsnippet

context "math()"
snippet ps "概率空间 Probability Space" w
(\Omega, \Sigma, \Pr)
endsnippet

context "math()"
snippet psf "概率空间 Probability Space" w
(\Omega, \mathcal{F}, \Pr)
endsnippet

context "math()"
snippet var "方差 Variance" w
\operatorname{Var}
endsnippet

context "math()"
snippet cov "协方差 Covariance" w
\operatorname{Cov}
endsnippet
